@charset "UTF-8";
body, div, td, p {
  font-size: 9pt;
  font-family: Arial,"宋体";
  color: #555; }

ul, ol, li, dl, dd, dt, p, form {
  margin: 0;
  padding: 0;
  list-style: none; }

a, a:link {
  color: #555;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#navigation {
  float: right; }

.version {
  height: 20px;
  line-height: 20px;
  padding-bottom: 58px;
  padding-right: 7px;
  text-align: right;
  font-size: 14px; }

.version a,
.version a:link,
.version a:hover {
  color: #666; }

.menu {
  float: right; }

.bpsnav {
  float: left;
  height: 44px;
  display: inline;
  margin: 0 5px;
  position: relative;
  z-index: 200; }

.bpsnav p {
  _float: left;
  height: 44px;
  font-size: 16px;
  font-family: "微软雅黑"; }

.bpsnav p a {
  _float: left;
  height: 36px;
  padding: 4px 18px;
  line-height: 20px;
  display: block;
  color: #004d7c;
  overflow: hidden; }

.bpsnav p span {
  line-height: 16px;
  text-align: left;
  display: block;
  font-size: 9pt;
  font-family: Arial;
  font-weight: normal;
  color: #607388; }

.bpsnav p a:link {
  color: #004d7c; }

.bpsnav p a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #004074; }

.bpsnav p a:hover span {
  color: #fff; }

.bpsnav p.pico a {
  width: 120px;
  padding-right: 20px;
  background-image: url(../images/ico1.gif);
  background-position-x: 85%;
  background-repeat: no-repeat; }

.bpsnav p.pico a:hover {
  color: #fff;
  text-decoration: none;
  background-image: url(../images/ico1_2.gif); }

.bpsnav p.psel {
  background-color: #004074; }

.bpsnav p.psel a,
.bpsnav p.psel a:link,
.bpsnav p.psel a span,
.bpsnav p.psel a:hover {
  color: #fff;
  text-decoration: none; }

.bpsnav p a.sel span,
.bpsnav p a.sel,
.bpsnav p a.sel:link,
.bpsnav p a.sel:hover {
  color: #fff; }

.bpsnav p.pico.psel a {
  background-image: url(../images/ico1_2.gif); }

.bpsnav p a.asel,
.bpsnav p a.asel:link,
.bpsnav p a.asel:hover {
  color: #fff;
  background-image: url(../images/ico1_2.gif);
  background-color: #004074; }

.bpsnav p a.asel span {
  color: #fff; }

.bpsnav .pie6 a {
  _background-position: 0 50px;
  _background-repeat: no-repeat; }

.bpsnav ul {
  width: 140px;
  position: absolute;
  left: 0;
  top: 43px;
  border-bottom: 2px solid #004d7c;
  padding: 18px 5px 28px 13px;
  display: none;
  background: url(../images/ico3.gif) 14px 0 no-repeat #fff; }

.bpsnav li {
  width: 80px;
  height: 26px;
  line-height: 26px;
  padding-left: 7px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: url(../images/ico2.gif) 0 12px no-repeat; }

.bpsnav li a:hover {
  color: #004d7c;
  font-weight: bold;
  text-decoration: none; }

/* Browser Resets */
.flexslider a:active {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  z-index: 100; }

.flexslider .slides > li {
  display: none; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  max-width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  position: relative;
  zoom: 1; }

.flexslider .slides {
  height: 523px;
  overflow: hidden;
  zoom: 1; }

.flexslider .slides > li {
  position: relative; }

.flexslider .slides li {
  height: 523px; }

.flexslider .slides img {
  width: 1000px;
  height: 523px; }

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
  zoom: 1;
  position: relative;
  z-index: 102; }

/* Caption style */
/* Control Nav */
.flex-control-nav {
  /*width:100%;position:absolute;bottom:45px;text-align:center;*/
  margin: 0 auto;
  width: 1001px;
  position: relative; }

.flex-control-nav ol {
  position: absolute;
  bottom: 15px; }

.flex-control-nav li {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-nav li:first-child {
  margin: 0; }

.flex-control-nav li a {
  width: 12px;
  height: 12px;
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  margin: 0 3px;
  overflow: hidden;
  background: url(../images/kv_dot1.png);
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='images/kv_dot1.png'); }

.flex-control-nav li a:hover {
  background: url(../images/kv_dot1.png);
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='images/kv_dot1.png'); }

.flex-control-nav li a.active {
  cursor: default;
  background: url(../images/kv_dot2.png);
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='images/kv_dot2.png'); }

.container {
  width: 1000px;
  margin: 0 auto; }

#logo {
  background: url(../images/logo.png) no-repeat;
  float: left;
  margin-left: 50px;
  width: 122px;
  height: 122px; }

#navigation_bar {
  width: 100%;
  height: 122px;
  border-bottom: #ccc 4px solid; }

#carousel {
  margin: 0;
  padding: 0; }

.box {
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eff2f4; }
  .box ul li {
    padding: 5px 10px; }

.more {
  display: block;
  text-align: right; }

#sideBox, #mainBox {
  margin: 45px 0 0 0;
  width: 38%;
  height: 500px;
  float: left; }
  #sideBox h2, #mainBox h2 {
    background: url(../images/title.png);
    background-repeat: no-repeat;
    height: 46px;
    border-bottom: 1px solid #eff2f4;
    margin: 0 0 5px 0; }
  #sideBox p, #mainBox p {
    line-height: 2em;
    padding: 0 10px; }
  #sideBox #news, #mainBox #news {
    background-position: 0 -184px; }
  #sideBox #case, #mainBox #case {
    background-position: 0 -46px; }
  #sideBox #caseList .caseItem, #mainBox #caseList .caseItem {
    padding: 10px; }
    #sideBox #caseList .caseItem .caseImg, #mainBox #caseList .caseItem .caseImg {
      width: 120px;
      height: 80px;
      float: left;
      padding: 3px;
      border: 1px gray solid;
      border-radius: 3px; }
      #sideBox #caseList .caseItem .caseImg img, #mainBox #caseList .caseItem .caseImg img {
        width: 120px;
        height: 80px; }
    #sideBox #caseList .caseItem .caseInfo, #mainBox #caseList .caseItem .caseInfo {
      margin-left: 5px;
      margin-top: 5px;
      width: 70%;
      display: inline-block; }
      #sideBox #caseList .caseItem .caseInfo h3, #mainBox #caseList .caseItem .caseInfo h3 {
        padding-left: 10px;
        margin-top: 0; }
      #sideBox #caseList .caseItem .caseInfo .infoItem, #mainBox #caseList .caseItem .caseInfo .infoItem {
        display: inline-block;
        width: 49%; }

#mainBox {
  width: 61%;
  float: right; }

/*# sourceMappingURL=main.css.map */
